In [52]:
from pathlib import Path

import pandas as pd

from sqlite_utils import Database
import sqlite3

In [7]:
p_data = Path("data")
p_rawdata = data_dir / "raw"

In [5]:
db = Database(p_data / "open_sofi.db")

In [33]:
vendor_data = pd.read_excel(p_rawdata / "vendors.ods", sheet_name=None)

In [41]:
vendor_names = vendor_data['Full name listing'].drop_duplicates().reset_index(drop=True)

# Insert vendors
vendors = db["vendors"]
vendors.insert_all(vendor_names..to_dict(orient="records"))

In [49]:
transactions = pd.DataFrame()
for year in ["2020", "2019", "2018", "2017"]:
    df = vendor_data[year]
    df['year'] = int(year)
    df = df.drop_duplicates()
    df = df[df.vendor.isin(vendors.name)]
    transactions = transactions.append(df)
transactions = transactions.reset_index(drop=True)

In [66]:
# Insert transactions
trans = db["transactions"]
trans.insert_all(transactions.to_dict(orient="records"))

In [68]:
transactions.pivot(index="vendor", columns="year", values="amount")

year,2017,2018,2019,2020
vendor,,,,
0713318 BC Ltd (Retro Specialty Contractors),NaN,39386.0,NaN,NaN
0733244 BC Ltd (Prestige North Coast Meeting &Convention Centre),NaN,27793.0,NaN,NaN
101 West Hastings Holding Ltd,209266.0,248539.0,241224.0,NaN
1034 Tokyo Resources Inc,NaN,NaN,27000.0,NaN
1194200 BC Ltd,NaN,NaN,25274.0,NaN
...,...,...,...,...
eVision Inc,NaN,NaN,105402.0,NaN
iGive Consulting Inc,NaN,NaN,91875.0,NaN
iWorx Systems Inc,NaN,53408.0,NaN,NaN
ownCloud Inc,NaN,37976.0,NaN,NaN
peerTransfer Education Corp,NaN,25940.0,NaN,NaN